  body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
  }

  .colorBtn{
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    background-color: rgb(156, 156, 156);
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    transition: .4s;
  }

  .colorBtn:hover{
    background-color: rgb(200, 200, 200);
    transition: .4s;
  }
